<nav>
  <h1>GIATSH</h1>
  <p>Definitely check out the links below afterwards!</p>
  <p>▼</p>
  <p>Eyebleach to cleanse your eyes and mind</p>
  <ul>
    <li><a href="https://www.reddit.com/r/Eyebleach/">EyeBleach!!!</a></li>
    <li><a href="https://www.reddit.com/r/palatecleanser/">Brain Cleanser</a></li>
    <li><a href="https://www.reddit.com/r/Awwducational/">Awwducational</a></li>
  </ul>
  <p>Psych therapy info</p>
  <ul>
    <li><a href="https://iocdf.org/about-ocd/ocd-treatment/">OCD Therapy</a></li>
    <li><a href="https://www.healthline.com/health/mental-health/intrusive-thoughts#conditions">Intrusive Thoughts</a></li>
  </ul>
</nav>
